.card-price {
  color: green;
  font-weight: bold;
}

 .card-zoom{
  transition: transform 0.2s ease-in-out;
}
.card-zoom:hover{
  transform: scale(1.08);
}

.card-img-top {
  height: 300px !important;
}

